name: CI

on:
  push:
    branches: ["main", "master"] # запуск при пуше в ветки main или maste
  pull_request: # запуск при создании/обновлении PR в любые ветки

jobs:
  tests:
    runs-on: ubuntu-latest # GitHub выдаёт VM с Ubuntu

    steps:
      - name: Checkout repository # скачивает (клонирует) репозиторий внутрь runner’а.
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest -q

  docker-build:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t my-ml-app:ci -f CI_CD/Dockerfile CI_CD